* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: poppins, sans-serif;
    /*
    display: grid;
    grid-template-columns: 1em 1em 1em 1em 1em 1em 1em 1em 1em 1em 1em 1em;
}
.grid {
    display: grid;
    grid-template-columns: 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3%;
}
.grid > div{
    background:#eee;
    padding:1em;
  }
  .grid > div:nth-child(odd){
    background:#ddd;
   */ 
  }
  
a {
    text-decoration: none;
    color: #333;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 10%;
    margin-right: 2vw;

}
.header {
    background-color: #D89D77;
    
}

.logo {
    position: relative;
    font-size: 2rem;
    font-weight:bold;
    text-decoration: none;
    padding: 0%;
    margin:0%;
    bottom: 2rem;
}
.catLogo {
    color:#333;
}
.worldLogo {
    color: #333;
    margin-left: -7px;
}
.navLinks li {
    display: inline-block;
    
}

.navLinks {
    
    position: relative;
    bottom: 2rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    max-width: 20vw;
    width: 100%;
    /* list-style-type: none; */
    margin: 0%;
    float: left;
    /* display: inline; */
    padding: 0%;
    color:#333;
}
.searchBar {
    position: relative;
    left: 2vw;
    bottom: 2rem;
}
.searchBar img {
    position: relative;
    top: .5rem;
    background-color: #3DC281;
    border-radius: 50%;
    box-sizing: border-box;
    height:25px;
    Width:25px;
    padding: 2px;
    
}
.navAdopt {
    position: relative;
    left: 8vw !important;
    bottom: 2rem !important;
    color: #333;
    background-color: #3DC281;
    font-weight: 600;
    border: 2px solid #3DC281;
    padding: 4px;
    bottom: 5px;
}